.help {
	display:flex;
	font-size: 100%;
	border: none;
	font-family: Helvetica85;
	cursor: pointer;
    padding: 20px 30px;
}


.help .helptext {
  visibility: hidden;
  width: 400px;
  background-color: #3a3a3c;
  color: #fff;
  border-radius: 6px;
  padding: 5px 0;
  font-size: 50%;
  text-align: center;
  word-spacing: normal;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  left: 25px;
}
	
.help:hover .helptext {
  visibility: visible;
}
