
#statscontainer {
	position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 4;

}

#statspage {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
	height: 500px;
	background-color: #121213;
	text-align:center;
	font-family: Helvetica85;	
}

#statsname {
	
	}

#statsbutton {
	position: relative;
	right:140px;
	font-size: 100%;
	background-color: #121213;
	color: white;
	cursor:pointer;
	border: none;
}