@import url("fonts.css");
@import url("autocomplete.css");
@import url("stats.css");
@import url("help.css");
@import url("guesses.css");


h1 {
	font-family: Helvetica85;
	color: #5d79ae	;
}
body{
	background-color:#f5f2ec;
	color: #313131;	
	margin: 0;

}

h1 {
	text-align:center;
}


#top-bar {
	display:flex;
	background-color:#272e6f;
	width:100%;
	flex-direction:row;
	flex-wrap:nowrap;
	justify-content:center;
	align-content: center;
	font-family: Helvetica85;
	font-size: 14px;
	letter-spacing: 2px;
	color: white;
	
}

#gametitle {
	display: flex;
	width:max-content;
	font-size: 300%;
	align-items: center;
	justify-content: center;
	font-family: Helvetica85;
	margin-top:50px;
	margin-bottom:50px;
	margin-left:auto;
	margin-right:auto;
}
.maingame {
	width:1150px;
	max-width:1000px;
	letter-spacing: 1px;
	margin-left:auto;
	margin-right:auto;	
}

a:link {
	color: purple;
}

a:visited {
	color:purple;
}

a:hover {
	color: purple;
}

a:active {
	color: purple;
}


#discord {
	position:fixed;
	bottom: 1em;
	left:1em;
	height:100px;
	width:100px;
}

